body{
    background; #CCCCCC; 
}
.principal {
      background: #cccccc
     padding 30px
    }
      h1 (
    text-align :center;
    border:10px solid black
    padding : 20px 
}   
 p{
   text-align: center
}
em strong {
   color: red (255, 60, 60);
}
#missão {
    font-size: 20px;

#banner (
    width: 100%;
  )
.beneficios {
     background: #cccccc
     padding;20px
    }
.imagembeneficios {
    width:50% ;    
}
h2{
    text-align: center;
}
.itens{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20% ;
    margin: 15% ;
}